/* Poppings font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* variables */
:root{
    --header-height: 3rem;

    /* colors */
    --first-color: #6e57e0; 
    --first-color-second: hsl(250, 69%, 61%); 
    --first-color-alt: hsl(250, 57%, 53%); 
    --first-color-lighter: hsl(250, 92%, 85%); 
    --title-color: hsl(250, 8%, 15%); 
    --text-color: hsl(250, 8%, 45%); 
    --text-color-light: hsl(250, 8%, 65%); 
    --input-color: hsl(250, 70%, 96%); 
    --body-color: hsl(250, 60%, 99%); 
    --container-color: #fff;
    --scroll-bar-color: hsl(250, 12%, 90%); 
    --scroll-thumb-color: hsl(250, 12%, 80%); 

    /* fonts */


    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    --font-medium-weight: 500;
    --font-semiBold-weight: 600;

    /*  */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;


}

@media screen and (min-width: 968px){
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

body.dark-theme{
    --first-color-second: hsl(250, 30%, 8%); 
    --title-color: hsl(250, 8%, 95%); 
    --text-color: hsl(250, 8%, 75%); 
    --input-color: hsl(250, 29%, 16%); 
    --body-color: hsl(250, 28%, 12%); 
    --container-color: hsl(250, 29%, 16%);
    --scroll-bar-color: hsl(250, 12%, 48%); 
    --scroll-thumb-color: hsl(250, 12%, 36%); 
}



.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: 1rem;
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    transition: backgroud .2s ease-in;
    color: var(--text-color);

    
}

body,header{
    /* theme change trasition  */

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semiBold-weight);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
    
}

/* .section__subtitle{
    -webkit-transform: translateY(50px) translateZ(0);
    transform: translateY(50px) translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}


.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
} */

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 3rem;
}

.section__title,.section__subtitle{
    text-align: center;
}

.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 10;
    z-index: 100;
    background-color: var(--body-color);
    
}

.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-semiBold-weight);
}



.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0, 0.15); 
    border-radius: 1.5rem 1.5rem 0 0; 
    transition: 0.5s
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium-weight);
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color:var(--first-color-alt);
}

.show-menu{
    bottom: 0;
}

.active-link{
    color: var(--first-color);
}


.header-shadow{
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);
}
/* Home */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.home{
    margin-bottom: 5rem;
    animation: fadeIn 2s;
}

.home_container{
    gap: 1rem;
}

.home__content{
    grid-template-columns: 0.5fr 3fr;
    padding-top: 1rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
    transition: 0.5s;
}

.home__social-icon:hover{
    color: var(--first-color-alt);
    transform: scale(120%);
    transition: 0.5s;
}

.home__img{
    width: 250px;
    border-radius: 50%;
}

.home__data{
    grid-column: 1/3;
}

.home__title{
    margin-top: 1rem;
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium-weight);
    margin-bottom: 1.5rem;
}

.home__description{
    margin-bottom: 2rem;
}

.home__scroll{
    display: none;
}

.home__scroll-button{
    color: var(--first-color);
    transition: 0.3s;
}

.home__scroll-button:hover{
    transform: translateY(0.25rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}

.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium-weight);
    margin-right: 0.25rem;
}

.home__scroll-arrow{
    font-size: 1.25rem;
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium-weight);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.button--white{
    background-color: #fff;
    color: var(--first-color);
}

.button--white:hover{
    background-color: #fff;
    color: var(--first-color-alt);
     
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

/* About */

.about__img{
    width: 250px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.about__description{
    text-align: center;
    margin-bottom: 2rem;
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semiBold-weight);
    color: var(--title-color);
}

.about__info-name{
    font-size: var(--small-font-size);
}

.about__info-title,
.about__info-name{
    display: block;
    text-align: center;
}

.about__button{
    display: flex;
    justify-content: center;
}

/* skills  */

.skills__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
}

.skills__icon,.skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon{
    margin-right: 0.75rem;
}

.skills__title{
    font-size: var(--h3-font-size);
}

.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow{
    margin-left: auto;
    transition: 0.4s;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium-weight);
}

.skills__bar,.skills__precentage{
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar{
    background-color: var(--first-color-lighter);
}

.skills__precentage{
    display: block;
    background-color: var(--first-color);
}

.skills__java{
    width: 90%;
}

.skills__c{
    width: 60%;
}

.skills__python{
    width: 50%;
}

.skills__html{
    width: 50%;
}

.skills__css{
    width: 50%;
}

.skills__js{
    width: 40%;
}

.skills__android{
    width: 70%;
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}

.skills__open .sills__list{
    height: max-content;
    margin-bottom: 2.5rem;
}

.skills__open .skills__arrow{
    transform: rotate(-180deg);
}

/* Qualification */

.noData__msg{
    font-size: var(--h3-font-size);
    text-align: center;
    color: var(--text-color-light);
}

.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium-weight);
    cursor: pointer;
}

.qualification__button:hover{
    color: var(--first-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: 0.25rem;
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium-weight);
}

.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

.qualification__date{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.qualification__point{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;

}

.qualification__point-current{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content]
{
    display: none; 
}

.qualification__active[data-content]{
    display: block;
}

.qualification__button.qualification__active{
    color: var(--first-color);
}

/* Portfolio  */

.portfolio{
    padding: 1.5rem;
}

.portfolio__container{
    overflow: initial;
}

.portfolio__content{
    padding: 0 1.5rem;
    margin: 1.5rem;
}

.portfolio__img{
    width: 256px;
    border-radius: 0.5rem;
    justify-self: center;
}

.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.portfolio__description{
    margin-bottom: 0.75rem;
}

.portfolio__button:hover .button__icon{
    transform: scale(112%);
}

.swiper-button-prev::after,.swiper-button-next::after{
    display: none;
}

.swiper-portfolio-icon{
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev{
    left: -0.5rem !important;
    /* margin: 1.5rem; */
}

.swiper-button-next{
    right: -0.5rem !important;
    /* margin: 1.5rem; */
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -2.5rem !important;
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color) !important;
}

/* Contact Me  */

.contact{
    margin: 0;
    margin-block: 1.5rem;
    width: 100%;
}

.contact__container{
    padding: 2rem;
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: 2rem;
}



.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: 0.75rem;
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium-weight);
}

.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__section-subtiitle{
    margin-bottom: 0.5rem;
}

.contact__content{
    background-color: var(--input-color);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
}

.contact__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0rem;
}


.contact__img{
    width: 200px;
    justify-self: center;
    border-radius: 50%;

}

.contact__btn:hover .contact__btn-icon{
    transform: translateX(0.25rem);
}

/* Footer  */

.footer{
    padding-top: 2rem;
    padding-bottom: 0;
    margin: 0;
    
}

.footer__container{
    row-gap: 3.5rem;
    padding: 2rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: 0.25rem;
}

.footer__subtitle{
    font-size: var(--small-font-size);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover{
    color: var(--first-color-lighter);
}

.footer__social{
    font-size: 1.25rem;
    margin-right: 1.5rem;
}

.footer__social:hover{
    color: var(--first-color-lighter);
}

.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: 3rem;
}

.footer__title,.footer__subtitle,.footer__link,.footer__social{
    color: #fff;
}


/* Custom Scroll bar  */

::-webkit-scrollbar{
    width: 0.60rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}


/* Adaptive UI (media queries)  */

/* small  */

@media screen and (max-width: 350px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .nav__menu{
        padding: 2rem 0.35rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: 0.25fr 3fr;
    }

    .home__img{
        width: 180px;
    }

    .skills__title{
        font-size: var(--normal-font-size);
    }

    .qualification__data{
        gap: 0.5rem;
    }

    
}
/* medium devices  */

@media screen and (min-width: 568px) {
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data{
        grid-column: initial;
    }

    .home__img{
        order: 1;
        justify-self: center;
    }

    .about__container,.portfolio__content,.contact__container,.footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* enable if more than 1 skill category  */
    /* .skills__container{
        grid-template-columns: repeat(2, 1fr);
    } */
    .skills__list{
       padding-left: 1rem;
    }

    .qualification__sections{
        display: grid;
        grid-template-columns: 0.6fr;
        justify-content: center ;
    }
}

/* Large devices  */

@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section__subtitle{
        margin-bottom: 2rem;
    }

    .contact__img{
        margin-bottom: 2rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,.main,.footer__container{
        padding: 0 1rem;
    }
    

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,.nav__close,.nav__toggle{
        display: none;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu{
        margin-left: auto;
    }

    .change-theme{
        margin: 0;
    }

    .home__container{
        row-gap: 5rem;
    }

    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }


    .home__img{
        width: 270px;
    }

    .home__scroll{
        display: block;
    }

    .home__scroll-button{
        margin-left: 3rem;
    }

    .about__container{
        column-gap: 5rem;
    }

    .about__img{
        width: 350px;
    }

    .about__description{
        text-align: initial;
    }

    .about__info{
        justify-content: space-between;
    }

    .about__button{
        justify-content: initial;
    }

    .qualification__tabs{
        justify-content: center;
    }

    .qualification__button{
        margin: 0 1rem;
    }

    .portfolio__img{
        width: 320px;
    }

    .portfolio__content{
        align-items: center;
    }

    .footer__container{
        grid-template-columns: repeat(3,1fr);
    }

    .footer__bg{
        padding: 3rem 0 3.5rem;
        border-radius: 1rem;

    }

    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer__socials{
        justify-self: flex-end;
    }

    .footer__copy{
        margin-top: 4.5rem;
    }
}

@media screen and (min-width: 1024px){
    .header,.main{
        padding: 0;
    }

    .footer{
        margin-inline: 1rem;
    }
    

    .home__img{
        width: 320px;
    }

    .home__social{
        transform: translateX(-6rem);
    }

    .services__container{
        grid-template-columns: repeat(3, 238px);
    }
}

